
* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: #EFFCEF;
	color: #655C56;
	list-style: none;
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto 100px;
	grid-template-areas: 
	"navBar"
	"mainContent"
	"foot";
}
.header-bg-container {
	grid-area: navBar;
	background-color: #655c56;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.body-wrapper {
	grid-area: mainContent;
}
.footer-bg-container{
	grid-area: foot;
	background-color: #655c56;
}



/******NAVBAR******/
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar ul li{
	list-style: none;
	padding: 24px 10px;
	font-size: .58rem;
	font-style: normal;
	font-weight: normal;
}
.nav-bar ul li a{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #effcef;
	transition: .2s;
}
.nav-bar i {
	color: #ccedd2;
	margin-right: 10px;
}
.login {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.btn {
	border: 1px solid #effcef;
	background: none;
	padding: 2px 15px;
	margin: 0 10px;
	border-radius: 24px;
	font-size: .48rem;
	font-weight: bold;
	color: #effcef;
	text-align: center;
	outline: none;
}
.login p{
	margin-right: 15px;
	text-align: center;
	font-size: .48rem;
	font-style: normal;
	font-weight: normal;
	color: #effcef;
}
.logo {
	width: 48px;
	height: 48px;
	transition: .2s;
}
.logo:hover {
	transform: translateY(-2px);
}

/******BODY******/
.body-wrapper {
	display: grid;
	grid-auto-rows: minmax(min-content, 100vh);
	grid-template-columns: 1fr;
	grid-template-areas: 
	"pageOne"
	"pageTwo"
	"pageThree"
	"pageFour"
	"pageFive";
}
/*landing*/
.home-image {
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-image img{
	width: 40%;
}
.home-text-wrapper {
	grid-area: pageOne;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 128px;
}
.home-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
}
.home-text h1 {
	font-size: 3.5rem;
	font-weight: bolder;
	animation-name: flipLetter;
	animation-iteration-count: infinite;
	animation-direction: linear;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}
@keyframes flipLetter {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(10px);
	}
}
.home-text span {
	color: #fd5e53;
}
.home-text p {
	font-size: .88rem;
	margin-bottom: 12px;
}
.dl-btn {
	border: none;
	background: none;
	padding: 10px 24px;
	border-radius: 24px;
	background-color: #94d3ac;
	color: #655c56;
	font-size: .88rem;
	outline: none;
}




/*About*/
.about-container{
	background-color: #655c56;
	grid-area: pageTwo;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.why-choose-container h1{
	color: #effcef;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 32px 0px;
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 24px rgba(0,0,0,.25);
	border-radius: 12px;
}
.card-one {
	width: 30%;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card-one h1 {
	font-size: .78rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
}
.card-one p {
	color: #effcef;
	font-size: .48rem;
	text-align: center;
	padding: 0;
}
.about-image-container img {
	width: 240px;
}
.about-text-container {
	padding: 12px;
	color: #effcef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	text-align: center;
}
.about-text-container h1{
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.about-text-container p {
	font-weight: lighter;
	font-size: .6rem;
	letter-spacing: 2px;
}

/*Services*/
.services-container {
	grid-area: pageThree;
}
.services-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px;
	text-align: center;
}
.services-text h1 {
	text-transform: uppercase;
}

.services-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 24px;
	align-items: center;
}

.service-card{
	padding: 12px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon-border{
	height: 100px;
	width: 100px;
	background-color: #94d3ac;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
}


/*Pricing*/
.pricing-container {
	grid-area: pageFour;
	background-color: #655c56;
	padding: 64px;
}
.pricing-header {
	text-align: center;
	color: #effcef;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: .98rem;
	text-transform: uppercase;
}
.pricing-header h1 {
	font-size: 1.8rem;
	font-weight: lighter;
	letter-spacing: 2px;
	padding: 32px;
}
.pricing-content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.pricing-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 6px 6px 24px rgba(0,0,0,.25);
	border-radius: 50%;
	color: #effcef;
	padding: 48px;
	margin: 24px 0px;
}

.pricing-card h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: .98rem;
}

.pricing-card button {
	background: none;
	background-color: #94d3ac;
	border: none;
	border-radius: 12px;
	border-style: none;
	color: #655c56;
	padding: 5px 24px;
	font-size: .56rem;
	transition: .2s;
	margin-top: 12px;
}

.price-number span {
	color: #fd5e53;
	font-size: 2.5rem;
}




/*Contact*/
.contact-container{
	grid-area: pageFive;
}
.contact-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3rem;
	letter-spacing: 2px;
	padding: 12px;
}
.contact-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 21px;
}
.detail-container > h1{
	font-size: 1.2rem;
	letter-spacing: 2px;
}
.contact-form {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 48px;

}

.input-container p{
	text-transform: uppercase;
	font-size: .68rem;
	padding: 10px;
}
	input[type="email"],input[type="text"],input[type="number"]{
	background: none;
	border: none;
	border-bottom: 1px solid  #655c56;
	outline: none;
	color: #655c56;
	padding: 0px 48px;
}

.input input:focus {
	border-color: #fd5e53;
	transform: scale(1.2);
}

.input-container button {
	border-style: none;
	background: none;
	color: #655c56;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 25px;
	background-color: #94d3ac;
	border-radius: 2px;
	transition: .2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-icons li {
	color: #effcef;
	list-style: none;
	margin-top: 24px;
	margin-right: 10px;
}

