
@media only screen and (max-width: 380px) {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Poppins', sans-serif;
		background-color: #EFFCEF;
		color: #655C56;
		font-size: .68em;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows:auto;
		grid-template-areas: 
		"header"
		"page__one"
		"page__two"
		"page__three"
		"page__four"
		"page__five"
		"footer";
	}

	/**********************************************/

	.header-bg-container {
		grid-area: header;
		background-color: #655c56;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 999;
	}
/*	.hide {
		display: none;
	}*/
	.login {
		display: none;
	}

	/*Burger Menu*/
	.icon {
		border-style: none;
		background: none;
		color: #effcef;
		outline: none;
	}
	#myLinks{
		display: none;
		transition: .2s;
	}
	.nav-bar {
		text-align: center;
	}
	.nav-bar ul li{
		list-style: none;
		padding: 12px;
	}
	.nav-bar ul li a{
		text-decoration: none;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		color: #effcef;
	}
	.btn {
		border: 1px solid #effcef;
		background: none;
		padding: 3px 18px;
		border-radius: 24px;
		font-size: .48rem;
		font-weight: bold;
		color: #effcef;
		text-align: center;
		outline: none;
	}
	.nav-bar p{
		color: #effcef;
		font-size: .4rem;
		padding: 4px;
	}
	.nav-bar i {
		color: #ccedd2;
		padding: 4px;
		font-size: 24px;
	}

	.home-image img {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}


/**********************************************/
	.home-container {
		grid-area: page__one;
	}
	.home-text-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.home-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
	}
	.home-text h1 {
		font-size: 3.5rem;
		font-weight: bolder;
		animation-name: flipLetter;
		animation-iteration-count: infinite;
		animation-direction: linear;
		animation-duration: 2s;
		animation-timing-function: ease-out;
	}
	@keyframes flipLetter {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(10px);
	}
	}
	.home-text span {
		color: #fd5e53;
	}
	.home-text p {
		font-size: .88rem;
		margin-bottom: 12px;
	}
	.dl-btn {
		border: none;
		background: none;
		padding: 5px 15px;
		border-radius: 24px;
		background-color: #94d3ac;
		color: #655c56;
		font-size: .88rem;
		outline: none;
		margin-top: 12px;
	}

/**********************************************/
	.about-container {
		height: auto;
		grid-area: page__two;
		background-color: #655c56;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.why-choose-container h1{
		color: #effcef;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
	}
	.card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.card-one {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 12px;
	}
	.card-one h1 {
		font-size: .68rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bolder;
		text-transform: uppercase;
	}
	.card-one p {
		color: #effcef;
		font-size: .68rem;
		text-align: center;
		padding: 0;
	}
	.card-one img {
		height: 48px;
		width: 48px;
	}
	.about-image-container img {
		width: 64px;
	}
	.about-text-container {
		padding: 12px;
		color: #effcef;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.about-text-container h1{
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		padding: 12px;
	}
	.about-text-container p {
		font-weight: lighter;
		font-size: .6rem;
		letter-spacing: 2px;
	}
/**********************************************/
	.services-container {
		grid-area: page__three;
	}
	.services-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 32px;
		text-align: center;
	}
	.services-text h1 {
		text-transform: uppercase;
	}

	.services-icons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 24px;
		align-items: center;
	}

	.service-card{
		padding: 12px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.icon-border{
		height: 64px;
		width: 64px;
		background-color: #94d3ac;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.icon-border img {
		width: 24px;
		height: 24px;
	}
/**********************************************/
	.pricing-container {
		grid-area: page__four;
		background-color: #655c56;
		padding: 64px;
	}
	.pricing-header {
		text-align: center;
		color: #effcef;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 1.48rem;
		text-transform: uppercase;
	}
	.pricing-header h1 {
		font-size: .8rem;
		font-weight: lighter;
		letter-spacing: 2px;
	}
	.pricing-content{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.pricing-card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		box-shadow: 6px 6px 24px rgba(0,0,0,.25);
		border-radius: 24px;
		color: #effcef;
		padding: 12px;
		margin: 24px 0px;
	}

	.pricing-card h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		font-size: .68rem;
	}

	.pricing-card button {
		background: none;
		background-color: #94d3ac;
		border: none;
		border-radius: 12px;
		border-style: none;
		color: #655c56;
		padding: 5px 24px;
		font-size: .36rem;
		transition: .2s;
		margin-top: 12px;
	}

	.price-number span {
		color: #fd5e53;
		font-size: 1.8rem;
	}
/**********************************************/
	.contact-container {
		grid-area: page__five;
	}
	.contact-text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.3rem;
		letter-spacing: 2px;
		padding: 12px;
	}
	.contact-detail {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.detail-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 21px;
	}
	.detail-container > h1{
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
	.contact-form {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 48px;

	}

	.input-container p{
		text-transform: uppercase;
		font-size: .68rem;
		padding: 10px;
	}
		input[type="email"],input[type="text"],input[type="number"]{
		background: none;
		border: none;
		border-bottom: 1px solid  #655c56;
		outline: none;
		color: #655c56;
		padding: 0px 48px;
	}

	.input input:focus {
		border-color: #fd5e53;
		transform: scale(1.2);
	}

	.input-container button {
		border-style: none;
		background: none;
		color: #655c56;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 25px;
		background-color: #94d3ac;
		border-radius: 2px;
		transition: .2s;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	.footer-icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.footer-icons li {
		color: #effcef;
		list-style: none;
		margin-top: 24px;
		margin-right: 10px;
	}


/**********************************************/
	.footer-bg-container {
		grid-area: footer;
	}

/*End*/
}
