
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*laptop and desktop*/
@media only screen and (min-width: 1024px){

	body {
		font-family: 'Poppins', sans-serif;
		background-color: #EFFCEF;
		color: #655C56;
		font-size: 1em;
		max-width: 1280px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 48px auto 64px;
		height: auto;
		width: 100%;
		margin: 0 auto;
		grid-template-areas:
		"head"
		"body"
		"foot";

	}
	.icon-toggle {
	display: none;
	}
	.body-wrapper {
		grid-area: body;
	}

	.header-bg-container{
		grid-area: head;
		background-color: #655C56;
		position: sticky;
		top: 0;
		z-index: 1000;
	}

	.footer-bg-container {
		grid-area: foot;
		background-color: #655C56;
	}
	.footer-icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.footer-icons li {
		color: #effcef;
		list-style: none;
		margin-top: 24px;
		margin-right: 10px;
	}
	/******************************/

	/*Nav Bar*/
	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-bar ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-bar ul li{
		list-style: none;
		margin: 0 10px;
		font-size: .48rem;
		font-style: normal;
		font-weight: normal;
		line-height: 19px;
	}
	.nav-bar ul li a{
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		color: #effcef;
		transition: .2s;
	}
	.nav-bar ul li a:hover {
		color: #ccedd2;
	}
	.nav-bar i {
		color: #ccedd2;
		margin-right: 10px;
		transition: .2s;
	}
	.login {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.btn {
		border: 1px solid #effcef;
		background: none;
		padding: 2px 15px;
		margin: 0 10px;
		border-radius: 24px;
		font-size: .48rem;
		font-weight: bold;
		color: #effcef;
		text-align: center;
		transition: .2s;
	}
	.login p{
		margin-right: 15px;
		text-align: center;
		font-size: .48rem;
		font-style: normal;
		font-weight: normal;
		color: #effcef;
	}
	.btn:hover{
		background-color: #fd5e53;
		border-color: #fd5e53;
	}
	.login i:hover{
		transform: translateY(-2px);
	}
	.logo {
		width: 48px;
		height: 48px;
		transition: .2s;
	}
	.logo:hover {
		transform: translateY(-2px);
	}
	/**************************/



	/*Main Page-Grid*/
	.home-container{
		/*page1*/
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
		"homeText homeImage";
		background-image: url(../images/asset-bg-1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
	}

	/*Homepage and Landing page*/
	.home-text-wrapper {
		grid-area: homeText;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.home-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
	.home-text h1 {
		font-size: 3.5rem;
		font-weight: bolder;
	}
	@keyframes flipLetter {
		0% {
			transform: translateY(10px);
		}
		50% {
			transform: translateY(5px);
		}
		100% {
			transform: translateY(10px);
		}
	}
	.home-text span {
		color: #fd5e53;
	}
	.home-text p {
		font-size: .88rem;
		margin-bottom: 12px;
	}
	.home-text img {
		margin-bottom: 24px;
	}

	.dl-btn {
		border: none;
		background: none;
		padding: 10px 24px;
		border-radius: 24px;
		background-color: #94d3ac;
		color: #655c56;
		font-size: .88rem;
		transition: .2s;
	}
	.dl-btn:hover {
		background-color: #fd5e53;
		color: #effcef;
	}

	.home-image {
		grid-area: homeImage;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		animation-name: flipLetter;
		animation-iteration-count: infinite;
		animation-direction: linear;
		animation-duration: 2s;
		animation-timing-function: ease-out;
	}
	.home-image img {
		width: 282px;
	}
	/*****End of Home Page****/


	/*****About page******/
	.about-container{
		/*page2*/
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
		"whyChoose aboutText";
		background-color: #655c56;
	/*	background-image: url(../images/background-about.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;*/
		background-image: url(../images/asset-bg-1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
	}
	.why-choose-container {
		grid-area: whyChoose;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.why-choose-container h1{
		color: #effcef;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	.card-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		width: 80%;
		height: 50%;
		box-shadow: 6px 6px 24px rgba(0,0,0,.25);
		border-radius: 12px;
	}
	/*card one*/
	.card-one {
		margin-top: 48px;
		width: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.card-one img {
		text-align: center;
		transition: .2s;
	}
	.card-one img:hover {
		transform: scale(.98);
	}
	.card-one h1 {
		font-size: .78rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	.card-one p {
		color: #effcef;
		font-size: .48rem;
		text-align: center;
		padding: 0;
	}
	/*END*/

	.about-image-container img {
		width: 240px;
	}


	.about-text-container {
		grid-area: aboutText;
		color: #effcef;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		text-align: center;
	}

	.about-text-container h1{
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.about-text-container p {
		font-weight: lighter;
		font-size: .8rem;
		letter-spacing: 2px;
	}

	/******End of about page*****/



	/*Services Page*/
	.services-container{
		/*Page 3*/
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"servicesText"
		"servicesContent";
		background-image: url(../images/asset-bg-1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
	}

	.services-text {
		grid-area: servicesText;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin:0 auto;
	}
	.services-text h1 {
		margin-bottom: 24px;
		text-transform: uppercase;
	}

	.services-icons {
		grid-area: servicesContent;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 24px;
		align-items: center;
	}

	.service-card{
		height: 300px;
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.icon-border{
		height: 100px;
		width: 100px;
		background-color: #94d3ac;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 24px;
	}

	/******End of Services Page*****/

	/*Pricing Page*/
	.pricing-container{
		/*Page 4*/
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 4fr;
		grid-template-areas:
		"pricingText"
		"pricingContent";
		background-color: #655c56;
		background-image: url(../images/asset-bg-1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
	}

	.pricing-header {
		grid-area: pricingText;
		text-align: center;
		color: #effcef;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: .98rem;
		text-transform: uppercase;
	}
	.pricing-header h1 {
		font-size: 1.8rem;
		font-weight: lighter;
		letter-spacing: 2px;
	}
	.pricing-content{
		grid-area: pricingContent;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.pricing-card {
		height: 60%;
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		box-shadow: 6px 6px 24px rgba(0,0,0,.25);
		border-radius: 12px;
		color: #effcef;
		transition: .2s;
	}
	.pricing-card:hover{
		box-shadow: inset 6px 6px 24px rgba(0,0,0,.25);
	}
	.pricing-card:hover h1,.pricinng-card:hover p,.pricing-card:hover span,.pring-card:hover button{
		transform: scale(.98);
		cursor: pointer;
	}

	.pricing-card h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		font-size: 1.3rem;
	}

	.pricing-card button {
		background: none;
		background-color: #94d3ac;
		border: none;
		border-radius: 12px;
		border-style: none;
		color: #655c56;
		padding: 5px 24px;
		font-size: .56rem;
		transition: .2s;
	}

	.pricing-card button:hover {
		background-color: #fd5e53;
		cursor: pointer;
		color: #effcef;
	}


	.price-number span {
		color: #fd5e53;
		font-size: 3.5rem;
	}

	/****End of Pricing Page****/


	/*Contact Page*/
	.contact-container{
		/*Page 5*/
		height: 100vh;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 4fr;
		grid-template-areas:
		"contactText contactText"
		"contactDetails contactForm";
		background-color: #effcef;
		background-image: url(../images/asset-bg-1.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed; 
	}

	.contact-text {
		grid-area: contactText;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		margin: 24px 64px;
		text-align: center;
		font-size: 1.3rem;
		letter-spacing: 2px;
	}
	.contact-detail {
		grid-area: contactDetails;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.detail-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 64px;
	}
	.detail-container > h1{
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
	.contact-form {
		grid-area: contactForm;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.input-container p{
		text-transform: uppercase;
		font-size: .68rem;
	}
	.input input {
		background: none;
		border: none;
		border-bottom: 1px solid  #655c56;
		outline: none;
		width: 150%;
		color: #655c56;
		transition: .2s;
		margin-bottom: 48px;
	}

	.input input:focus {
		border-color: #fd5e53;
		transform: scale(1.2);
	}

	.input-container button {
		border-style: none;
		background: none;
		color: #655c56;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 25px;
		background-color: #94d3ac;
		border-radius: 2px;
		transition: .2s;
	}
	.input-container button:hover {
		background-color: #fd5e53;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
}


/****Ipad***/
@media only screen and (max-width: 1025px) and (min-width: 480px) {


body {
	font-family: 'Poppins', sans-serif;
	background-color: #EFFCEF;
	color: #655C56;
	list-style: none;
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px auto 100px;
	grid-template-areas: 
	"navBar"
	"mainContent"
	"foot";
}
.header-bg-container {
	grid-area: navBar;
	background-color: #655c56;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.body-wrapper {
	grid-area: mainContent;
}
.footer-bg-container{
	grid-area: foot;
	background-color: #655c56;
}



/******NAVBAR******/
.icon-toggle {
	display: none;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar ul li{
	list-style: none;
	padding: 24px 10px;
	font-size: .58rem;
	font-style: normal;
	font-weight: normal;
}
.nav-bar ul li a{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	color: #effcef;
	transition: .2s;
}
.nav-bar i {
	color: #ccedd2;
	margin-right: 10px;
}
.login {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.btn {
	border: 1px solid #effcef;
	background: none;
	padding: 2px 15px;
	margin: 0 10px;
	border-radius: 24px;
	font-size: .48rem;
	font-weight: bold;
	color: #effcef;
	text-align: center;
	outline: none;
}
.login p{
	margin-right: 15px;
	text-align: center;
	font-size: .48rem;
	font-style: normal;
	font-weight: normal;
	color: #effcef;
}
.logo {
	width: 48px;
	height: 48px;
	transition: .2s;
}
.logo:hover {
	transform: translateY(-2px);
}

/******BODY******/
.body-wrapper {
	display: grid;
	grid-auto-rows: minmax(min-content, 100vh);
	grid-template-columns: 1fr;
	grid-template-areas: 
	"pageOne"
	"pageTwo"
	"pageThree"
	"pageFour"
	"pageFive";
}
/*landing*/
.home-image {
	display: flex;
	align-items: center;
	justify-content: center;
	animation-name: flipLetter;
	animation-iteration-count: infinite;
	animation-direction: linear;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}
.home-image img{
	width: 40%;
}
.home-text-wrapper {
	grid-area: pageOne;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 128px;
}
.home-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
}
.home-text h1 {
	font-size: 3.5rem;
	font-weight: bolder;
}
@keyframes flipLetter {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(10px);
	}
}
.home-text span {
	color: #fd5e53;
}
.home-text p {
	font-size: .88rem;
	margin-bottom: 12px;
}
.dl-btn {
	border: none;
	background: none;
	padding: 10px 24px;
	border-radius: 24px;
	background-color: #94d3ac;
	color: #655c56;
	font-size: .88rem;
	outline: none;
}




/*About*/
.about-container{
	background-color: #655c56;
	grid-area: pageTwo;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.why-choose-container h1{
	color: #effcef;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 32px 0px;
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 6px 24px rgba(0,0,0,.25);
	border-radius: 12px;
}
.card-one {
	width: 30%;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card-one h1 {
	font-size: .78rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
}
.card-one p {
	color: #effcef;
	font-size: .48rem;
	text-align: center;
	padding: 0;
}
.about-image-container img {
	width: 240px;
}
.about-text-container {
	padding: 12px;
	color: #effcef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	text-align: center;
}
.about-text-container h1{
	letter-spacing: 2px;
	font-weight: lighter;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.about-text-container p {
	font-weight: lighter;
	font-size: .6rem;
	letter-spacing: 2px;
}

/*Services*/
.services-container {
	grid-area: pageThree;
}
.services-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px;
	text-align: center;
}
.services-text h1 {
	text-transform: uppercase;
}

.services-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 24px;
	align-items: center;
}

.service-card{
	padding: 12px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon-border{
	height: 100px;
	width: 100px;
	background-color: #94d3ac;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
}


/*Pricing*/
.pricing-container {
	grid-area: pageFour;
	background-color: #655c56;
	padding: 64px;
}
.pricing-header {
	text-align: center;
	color: #effcef;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: .98rem;
	text-transform: uppercase;
}
.pricing-header h1 {
	font-size: 1.8rem;
	font-weight: lighter;
	letter-spacing: 2px;
	padding: 32px;
}
.pricing-content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.pricing-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 6px 6px 24px rgba(0,0,0,.25);
	border-radius: 50%;
	color: #effcef;
	padding: 48px;
	margin: 24px 0px;
}

.pricing-card h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: lighter;
	font-size: .98rem;
}

.pricing-card button {
	background: none;
	background-color: #94d3ac;
	border: none;
	border-radius: 12px;
	border-style: none;
	color: #655c56;
	padding: 5px 24px;
	font-size: .56rem;
	transition: .2s;
	margin-top: 12px;
}

.price-number span {
	color: #fd5e53;
	font-size: 2.5rem;
}




/*Contact*/
.contact-container{
	grid-area: pageFive;
}
.contact-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3rem;
	letter-spacing: 2px;
	padding: 12px;
}
.contact-detail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 21px;
}
.detail-container > h1{
	font-size: 1.2rem;
	letter-spacing: 2px;
}
.contact-form {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 48px;

}

.input-container p{
	text-transform: uppercase;
	font-size: .68rem;
	padding: 10px;
}
	input[type="email"],input[type="text"],input[type="number"]{
	background: none;
	border: none;
	border-bottom: 1px solid  #655c56;
	outline: none;
	color: #655c56;
	padding: 0px 48px;
}

.input input:focus {
	border-color: #fd5e53;
	transform: scale(1.2);
}

.input-container button {
	border-style: none;
	background: none;
	color: #655c56;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 25px;
	background-color: #94d3ac;
	border-radius: 2px;
	transition: .2s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.footer-icons li {
	color: #effcef;
	list-style: none;
	margin-top: 24px;
	margin-right: 10px;
}

/*End ipad*/
}









/*Iphone*/

@media only screen and (max-width: 480px) {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Poppins', sans-serif;
		background-color: #EFFCEF;
		color: #655C56;
		font-size: .68em;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows:auto;
		grid-template-areas: 
		"header"
		"page__one"
		"page__two"
		"page__three"
		"page__four"
		"page__five"
		"footer";
	}

	/**********************************************/

	.header-bg-container {
		grid-area: header;
		background-color: #655c56;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 999;
	}
/*	.hide {
		display: none;
	}*/
	.login {
		display: none;
	}

	/*Burger Menu*/
	.icon-toggle {
		border-style: none;
		background: none;
		color: #effcef;
		outline: none;
	}
	#myLinks{
		display: none;
		transition: .2s;
	}
	.nav-bar {
		text-align: center;
	}
	.nav-bar ul li{
		list-style: none;
		padding: 12px;
	}
	.nav-bar ul li a{
		text-decoration: none;
		text-decoration: none;
		font-style: normal;
		font-weight: normal;
		color: #effcef;
	}
	.btn {
		border: 1px solid #effcef;
		background: none;
		padding: 3px 18px;
		border-radius: 24px;
		font-size: .48rem;
		font-weight: bold;
		color: #effcef;
		text-align: center;
		outline: none;
	}
	.nav-bar p{
		color: #effcef;
		font-size: .4rem;
		padding: 4px;
	}
	.nav-bar i {
		color: #ccedd2;
		padding: 4px;
		font-size: 24px;
	}

	.home-image img {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}


/**********************************************/
	.home-container {
		grid-area: page__one;
	}
	.home-text-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.home-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em;
	}
	.home-text h1 {
		font-size: 3.5rem;
		font-weight: bolder;
		animation-name: flipLetter;
		animation-iteration-count: infinite;
		animation-direction: linear;
		animation-duration: 2s;
		animation-timing-function: ease-out;
	}
	@keyframes flipLetter {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(10px);
	}
	}
	.home-text span {
		color: #fd5e53;
	}
	.home-text p {
		font-size: .88rem;
		margin-bottom: 12px;
	}
	.dl-btn {
		border: none;
		background: none;
		padding: 5px 15px;
		border-radius: 24px;
		background-color: #94d3ac;
		color: #655c56;
		font-size: .88rem;
		outline: none;
		margin-top: 12px;
	}

/**********************************************/
	.about-container {
		height: auto;
		grid-area: page__two;
		background-color: #655c56;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.why-choose-container h1{
		color: #effcef;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
	}
	.card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.card-one {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 12px;
	}
	.card-one h1 {
		font-size: .68rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bolder;
		text-transform: uppercase;
	}
	.card-one p {
		color: #effcef;
		font-size: .68rem;
		text-align: center;
		padding: 0;
	}
	.card-one img {
		height: 48px;
		width: 48px;
	}
	.about-image-container img {
		width: 64px;
	}
	.about-text-container {
		padding: 12px;
		color: #effcef;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.about-text-container h1{
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		padding: 12px;
	}
	.about-text-container p {
		font-weight: lighter;
		font-size: .6rem;
		letter-spacing: 2px;
	}
/**********************************************/
	.services-container {
		grid-area: page__three;
	}
	.services-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 32px;
		text-align: center;
	}
	.services-text h1 {
		text-transform: uppercase;
	}

	.services-icons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 24px;
		align-items: center;
	}

	.service-card{
		padding: 12px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.icon-border{
		height: 64px;
		width: 64px;
		background-color: #94d3ac;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.icon-border img {
		width: 24px;
		height: 24px;
	}
/**********************************************/
	.pricing-container {
		grid-area: page__four;
		background-color: #655c56;
		padding: 64px;
	}
	.pricing-header {
		text-align: center;
		color: #effcef;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 1.48rem;
		text-transform: uppercase;
	}
	.pricing-header h1 {
		font-size: .8rem;
		font-weight: lighter;
		letter-spacing: 2px;
	}
	.pricing-content{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.pricing-card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		box-shadow: 6px 6px 24px rgba(0,0,0,.25);
		border-radius: 24px;
		color: #effcef;
		padding: 12px;
		margin: 24px 0px;
	}

	.pricing-card h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: lighter;
		font-size: .68rem;
	}

	.pricing-card button {
		background: none;
		background-color: #94d3ac;
		border: none;
		border-radius: 12px;
		border-style: none;
		color: #655c56;
		padding: 5px 24px;
		font-size: .36rem;
		transition: .2s;
		margin-top: 12px;
	}

	.price-number span {
		color: #fd5e53;
		font-size: 1.8rem;
	}
/**********************************************/
	.contact-container {
		grid-area: page__five;
	}
	.contact-text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		text-align: center;
		font-size: 1.3rem;
		letter-spacing: 2px;
		padding: 12px;
	}
	.contact-detail {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.detail-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 21px;
	}
	.detail-container > h1{
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
	.contact-form {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 48px;

	}

	.input-container p{
		text-transform: uppercase;
		font-size: .68rem;
		padding: 10px;
	}
		input[type="email"],input[type="text"],input[type="number"]{
		background: none;
		border: none;
		border-bottom: 1px solid  #655c56;
		outline: none;
		color: #655c56;
		padding: 0px 48px;
	}

	.input input:focus {
		border-color: #fd5e53;
		transform: scale(1.2);
	}

	.input-container button {
		border-style: none;
		background: none;
		color: #655c56;
		text-align: center;
		text-transform: uppercase;
		padding: 5px 25px;
		background-color: #94d3ac;
		border-radius: 2px;
		transition: .2s;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

	.footer-icons {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.footer-icons li {
		color: #effcef;
		list-style: none;
		margin-top: 24px;
		margin-right: 10px;
	}


/**********************************************/
	.footer-bg-container {
		grid-area: footer;
	}

/*End*/
}
